<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/works.css" />
    <title>Motomami</title>
  </head>
  <body>
    <h1>PROJECTS</h1>
    <div class="links">
        <a href="/home">Back to Home Page</a>
        <a href="/about">About Her</a>
        <a href="/gallery">Photo Gallery</a>
        </div>
   


   <div class="albums">
    <div class="album1">
    <h2> Los Ángeles</h2>
     <img src="../images/Los_ángeles.jpeg" alt="pic-album1" id="los-angeles"/>

      <ol>
       <li>Si tú supieras compañero</li>
       <li>De plata</li>
       <li>Nos quedamos solitos</li>
       <li>Catalina</li>
       <li>Día 14 de Abril</li>
       <li>Que se muere, que se muere</li>
       <li>Por mi puerta no lo pasen</li>
       <li>Te venero</li>
       <li>Por castigarme tan fuerte</li>
       <li>La hija de Juan Simón</li>
       <li>El redentor</li>
       <li>I See a Darkness</li>
      </ol>
    </div>  

    <div class="album2">
    <h2> El Mal Querer</h2>
    <img src="../images/El_mal_querer.png" alt="pic-album2"  id="el-mal-querer"/>

  <ol>
    <li>Malamente</li>
    <li>Que no salga la luna</li>
    <li>Pienso en tu mirá</li>
    <li>De aquí no sales</li>
    <li>Reniego</li>
    <li>Preso</li>
    <li>Bagdad</li>
    <li>Di mi nombre</li>
    <li>Nana</li>
    <li>Maldición</li>
    <li>A ningún hombre</li>
  </ol>   
 </div> 

   <div class="album3">
    <h2> Motomami</h2>
    <img src="../images/Motomami.png" alt="pic-album3" id="motomami"/>  
    <ol>
        <li>SAOKO</li>
        <li>CANDY</li>
        <li>LA FAMA</li>
        <li>BULERÍAS</li>
        <li>CHICKEN TERIYAKI</li>
        <li>HENTAI</li>
        <li>BIZCOCHITO</li>
        <li>G3 N15</li>
        <li>MOTOMAMI</li>
        <li>DIABLO</li>
        <li>DELIRIO DE GRANDEZA</li>
        <lI>CUUUUuuuuuute"</li>
        <li>COMO UN G</li>
        <li>Abcdefg</li>
        <li>LA COMBI VERSACE</li>
        <li>SAKURA</li>

      </ol> 
    </div> 
      
    </div>
  </body>
</html>